.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before,
.w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-brand {
  width: 150px;
  img {
    width: 150px;
    margin-left: -32px;
    margin-bottom: -30px;
  }
}
.container-fluid {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-upper-section {
  padding-top: 140px;
  padding-bottom: 70px;
}

.footer-upper-section.footer-one-upper-section {
  padding-top: 188px;
  padding-bottom: 80px;
}

.footer-flex {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  display: flex;
}

.footer-about-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 260px;
  margin-top: -15px;
}

.footer-soocial-link-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.footer-heading {
  color: var(--color--primary-02);
  font-family: Outfit Semi Bold, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
}

.footer-heading.text-white {
  color: var(--color--white);
  line-height: 1.2;
}

.opening-hours-wrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.opening-hours-item {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.opening-hours-text-two {
  white-space: nowrap;
  font-size: 16px;
}

.footer-text-two {
  font-size: 16px;
}

.footer-text-link-two {
  color: var(--color--secondary-02);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-text-link-two:hover {
  color: #ffa500;
}

.footer-contact-wrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.footer-lower-section {
  padding-bottom: 28px;
}

.footer-copyright-text-two {
  color: var(--color--primary-02);
  text-align: center;
  margin-top: 28px;
}

.footer-two {
  background-image: url("https://assets-global.website-files.com/6551ed212e2ea32fb46bb7c8/655305d137d5a3d3de308ebf_footer-bg.png");
  background-position: 0 0;
  background-size: cover;
  position: relative;
}

.footer-about-text-two {
  color: var(--color--secondary-02);
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 16px;
}

.social-link-block {
  border: 1px solid #ffa500;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
}

.social-link-block i {
  color: #000;
}

.social-link-block:hover {
  cursor: pointer;
  border-color: #ffa500;
  background-color: #ffa500;
}

.footer-line-two {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1px;
}

.footer-highlighter-shape-2 {
  width: 145px;
  position: absolute;
  bottom: 120px;
  right: 24px;
}

.footer-highlighter-shape-one {
  width: 98px;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media screen and (min-width: 1280px) {
  .navbar-brand {
    width: auto;
  }
  .container-fluid,
  .nav-menu-two-container {
    max-width: 1200px;
  }
  .footer-about-column {
    max-width: 300px;
  }
  .footer-soocial-link-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .opening-hours-item {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }
  .opening-hours-text-two,
  .footer-text-two,
  .footer-text-link-two {
    font-size: 18px;
  }
  .footer-about-text-two {
    font-size: 18px;
  }
  .social-link-block {
    width: 40px;
    height: 40px;
  }
  .container-fluid,
  .nav-menu-two-container {
    max-width: 1434px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-about-column {
    max-width: 330px;
  }
  .footer-soocial-link-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .footer-link-two,
  .opening-hours-text-two,
  .footer-text-two,
  .footer-text-link-two {
    font-size: 20px;
  }
  .footer-about-text-two,
  .footer-white-link,
  .opening-hours-white-text,
  .footer-white-text,
  .footer-white-text-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .container-fluid,
  .nav-menu-two-container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-highlighter-shape-2 {
    width: auto;
  }

  .footer-highlighter-shape-one {
    width: 130px;
    top: 63px;
    left: 66px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    width: auto;
  }
  .container-fluid,
  .nav-menu-two-container {
    max-width: 740px;
  }
  .footer-upper-section {
    padding-top: 100px;
    padding-bottom: 65px;
  }
  .footer-flex {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  .footer-heading {
    font-size: 24px;
  }
  .opening-hours-text-two,
  .footer-text-two,
  .footer-text-link-two {
    font-size: 18px;
  }
  .footer-about-text-two,
  .footer-white-link,
  .opening-hours-white-text,
  .footer-white-text,
  .footer-white-text-link {
    font-size: 18px;
  }
  .footer-highlighter-shape-one {
    top: 100px;
    left: auto;
    right: 60px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }
  .container-fluid {
    max-width: 650px;
  }
  .footer-upper-section {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer-flex {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1.4fr 1fr;
  }
  .footer-soocial-link-wrapper {
    grid-column-gap: 10px;
  }
  .opening-hours-item {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .opening-hours-text-two,
  .footer-text-two,
  .footer-text-link-two {
    font-size: 16px;
  }
  .footer-about-text-two {
    font-size: 16px;
  }
  .social-link-block {
    width: 35px;
    height: 35px;
  }

  .footer-highlighter-shape-2 {
    width: 120px;
    bottom: 120px;
  }
  .footer-highlighter-shape-one {
    right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .footer-flex {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1.1fr;
  }

  .opening-hours-wrapper {
    max-width: 280px;
  }
  .opening-hours-text-two,
  .footer-text-two,
  .footer-text-link-two {
    font-size: 18px;
  }
  .footer-about-text-two,
  .footer-white-link,
  .opening-hours-white-text,
  .footer-white-text,
  .footer-white-text-link {
    font-size: 18px;
  }
  .footer-highlighter-shape-2 {
    bottom: 140px;
    right: 10px;
  }

  .footer-highlighter-shape-one {
    top: 300px;
  }
}
